
/** HEADER **/

.container-fluid {
    background-color: #a7a7a7;
    border: 1px solid #000000;
}

#menu-button {
    background-color: #2139369d;
    margin-top: 20px;
}

#menu-button:hover {
    background-color: #262e2d9d;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: black;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}

#nav-list {
    background-color: #dbc1c1;
}

#nav-list a {
    font-weight: bolder;
    color: #3b3434;
    font-size: 1.2em;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

#nav-list a#box1 {
    border-bottom: 2px solid #000000;
}

#nav-list a:hover {
    color: #202020;
    background-color: #ffffd0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
}

/** END HEADER */


/** HOME PAGE **/

#main-content {
    margin-bottom: 40px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#main-section {
    background-color: #a9a6a6;
    padding: 30px;
}

#main-content p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
}

/** END HOME PAGE **/